body{
    background-color: aqua !important;
    height: auto;
}
form  button {
position: relative;
left:30px;
}
form{
height: 74px;
width:1300px;
}
form button{
    height:40px;
    width: 130px;
}
form input{
    width: 900px;
    height: 40px;
}
.boxes ul {
    position: relative;
 padding: 15px;
 left:110px;
 font-size: 24px;
 width:904px;
 background-color: bisque;
color: blueviolet;
list-style: none;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.boxes ul li{
font-size: 25px;
text-align: left;
}
.cross{
    position: absolute;
    right: 20px;
    bottom: 1px;
    font-size: 53px;
    cursor: pointer;
}
.line{
    text-decoration: line-through;
    color: red !important;
    background-color: yellow!important;
}
.inp{
    height: 50px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.inp:hover {
    border-color: #007bff; 
    background-color: #f9f9f9;
  }
  .inp:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  .inp::placeholder {
    color: #aaa;
    font-style: italic;
  }
  

  .inp:focus::placeholder {
    color: transparent; 
  }
  .inp:focus {
    animation: glow 1.5s infinite;
  }
